*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MENU */
  .nav-link {
    font-size: 18px;
  }


/* BODY - BIOGRAFIA  */
.bio-titulo {
    color: #FFF;
    font-size: 22pt;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    transition: transform 1s ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.bio-titulo:hover {
    transform: scale(1.3);
  }
     

.bio {
    color: #FFF;
    font-size: 14pt;
    line-height: 1.5;
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
}

/* BODY - TRABAJOS DESTACADOS */

.destacados-titulo {
    color: #FFF;
    font-size: 15pt;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    transition: transform 1s ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.destacados-titulo:hover {
    transform: scale(1.3);
  }
      


.card-title {
    color: #FFF;
    font-style: italic;
    margin-bottom: 8px;

  }

.card-text {
    color: #FFF;
    font-weight: bold;


    
}

.icono {
  margin-right: 10px;
}
/* -----------------------------------------*/

/* CONTACTO */
.contacto-titulo {
    color: #FFF;
    font-size: 22pt;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform 1s ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.contacto-titulo:hover {
    transform: scale(1.3);
  }

.contacto {
  color: #FFF;
  font-size: 14pt;
  line-height: 1.5;
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.icono-contacto {
  margin-right: 10px;
}

/* -------------------------------------- */

/*FOTOGRAFIA DOCUMENTAL */
.documental-titulo {
  color: #FFF;
  font-size: 22pt;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 1s ease-out;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.documental-titulo:hover {
  transform: scale(1.3);
}

.titulo-de-obra {
  color: #FFF;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 25px;
}

.thumbnail {
	margin-bottom:6px;
  display:flex;
  flex-wrap: wrap;
}

/* PRODUCTO */
.producto-titulo {
  color: #FFF;
  font-size: 22pt;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 1s ease-out;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.producto-titulo:hover {
  transform: scale(1.3);
}

.titulo-de-obra {
  color: #FFF;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 25px;
}
