/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

html {
  scroll-behavior: smooth;
}

/* MENU */
  .nav-link {
    font-size: 18px;
  }

  .nav-item {
    margin-right: 20px;
  }

/* BODY - BIOGRAFIA  */
.titulo-principal {
    color: #FFF;
    font-size: 22pt;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight:bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 0.5pt;
    text-transform: uppercase;
}
     
#container-principal {
  width: 70%;
}

.bio {
    color: #FFF;
    font-size: 12pt;
    line-height: 1.5;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 3px;

    
}

/* BODY - TRABAJOS DESTACADOS */

.destacados-titulo {
    font-family: 'Noto Sans Display', sans-serif;
    color: #FFF;
    font-size: 16pt;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

  }
      


.card-title {
    color: #FFF;
    font-style: italic;
    margin-bottom: 8px;
    letter-spacing: 0.5pt;

  }

.card-text {
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.5px;

    
}

.icono {
  margin-right: 10px;
}
/* -----------------------------------------*/

/* CONTACTO */

.contacto {
  color: #FFF;
  font-size: 12pt;
  line-height: 1.5;
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.3pt;

}

.icono-contacto {
  margin-right: 10px;
}

#container-contacto {
  width: 55%;;
}
/* -------------------------------------- */


.titulo-de-obra {
  color: #FFF;
  font-size: 22pt;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  margin-bottom: 30px;
  font-weight: bold;
  
  
}

.thumbnail {
	margin-bottom:6px;
  display:flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
 
}





/* RETRATOS */

h3 {
  color: white;
  font-size: 18pt;
  text-align: center;
  font-weight: bolder;
}

#current {
  text-decoration: underline;

}

.nav-item:hover {
background-color: #B55EBC;
border-radius: 3px;
}

.descripcion {
  color: #FFF;
  font-size: 13pt;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
  margin-top: 3px;
  font-weight: normal;
    
}

/*-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.foto {
  width: 435px;
  height: 300px;
}