/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
@media (min-width: 1200px) {

html {
  scroll-behavior: smooth;
}

/* MENU */
  .nav-link {
    font-size: 18px;
  }

  .nav-item {
    margin-right: 20px;
  }


  .dropdown-item{ /* SEGUIR DESDE ACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
    text-decoration: none;
  }

  .dropdown-item:hover{
    background-color: #B55EBC!important; 
  }


/* BODY - BIOGRAFIA  */
.titulo-principal {
    color: #FFF;
    font-size: 22pt;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight:bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 1pt;
    text-transform: uppercase;
}
     
#container-principal {
  width: 65%;
}

.bio {
    color: #FFF;
    font-size: 12pt;
    line-height: 1.5;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 3px;

    
}

/* BODY - TRABAJOS DESTACADOS */

.destacados-titulo {
    font-family: 'Noto Sans Display', sans-serif;
    color: #FFF;
    font-size: 16pt;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 1pt;

  }
      


.card-title {
    color: #FFF;
    font-style: italic;
    margin-bottom: 8px;
    letter-spacing: 0.5pt;

  }

.card-text {
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.5px;

    
}

.icono {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
/* -----------------------------------------*/

/* CONTACTO */

.contacto {
  color: #FFF;
  font-size: 12pt;
  line-height: 1.5;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.3pt;


}

.icono-contacto {
  margin-right: 10px;

}

#container-contacto {
  width: 55%;;
}
/* -------------------------------------- */


.titulo-de-obra {
  color: #FFF;
  font-size: 22pt;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1pt;
  
  
}

.thumbnail {
	margin-bottom:6px;
  display:flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
 
}





/* RETRATOS */

h3 {
  color: white;
  font-size: 18pt;
  text-align: center;
  font-weight: bolder;
}

#current {
  text-decoration: underline;

}

.nav-item:hover {
background-color: #B55EBC;
border-radius: 3px;
}

.descripcion {
  color: #FFF;
  font-size: 13pt;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
  margin-top: 3px;
  font-weight: normal;
    
}

/*-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.foto {
  width: 425px;
  height: 300px;
}

.icono-img {
  width: 30px;
  height: 30px;
}
}
/******************************************************************************************************/

/* RESPONSIVE */


/* MOBILE */
@media (max-width: 576px) { 

  /* INICIO */
  #container-principal {
    width: 80%;
  }

  .dropdown-item:hover{
    background-color: #B55EBC!important; 
  }

  .nav-item:hover {
    background-color: #B55EBC;
    border-radius: 3px;
    }

  .titulo-principal {
    font-size: 16pt;
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
  }

  .bio {
    font-size: 10pt;
    color: #FFF;
    line-height: 1.5;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 3px;
  
      
  }
  

  .destacados-titulo {
    font-size: 14pt;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .card-title {
    color: #FFF;
    font-style: italic;
    margin-bottom: 8px;
    letter-spacing: 0.5pt;

  }

.card-text {
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.5px;

    
}

  .copyright {
    font-size: 8pt;
  }

  .icono {
    text-decoration: none;
    color: white;
  }

  /* FOTOS GALERIAS */
  .foto {
    width: 340px;
    height: 220px;
  }

  .titulo-de-obra {
    font-size: 14pt;
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1pt;
  }

  .descripcion {
    font-size: 12pt;
    color: #FFF;
    font-size: 10pt;
    line-height: 1.5;
    font-style: normal;
    text-align: center;
    margin-top: 3px;
    font-weight: normal;
        
  }

  .icono-img {
    width: 20px;
    height: 20px;
  }
  
  .icono {
    margin-right: 5px;
  }

  .contacto {
    width: 100%;
    color: #FFF;
    font-size: 10pt;
    line-height: 1.5;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 80px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.3pt;
  }

  #icono-container {
    margin-bottom: 10px;
  }

  .icono-contacto {
    margin-right: 10px;
  
  }

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1119px) {
 #container-galeria {
   width: 100%
 }

 .dropdown-item:hover{
  background-color: #B55EBC!important; 
}

.nav-item:hover {
  background-color: #B55EBC;
  border-radius: 3px;
  }

.card-title {
  color: #FFF;
  font-style: italic;
  margin-bottom: 8px;
  letter-spacing: 0.5pt;

}

.card-text {
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.5px;

    
}
 .foto {
  width: 310px;
  height: 190px;
}

.titulo-principal {
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.titulo-de-obra {
  color: #FFF;
  font-size: 18pt;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1pt;
}

.descripcion {
  color: #FFF;
  font-size: 13pt;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
  margin-top: 3px;
  font-weight: normal;
    
}

.destacados-titulo {
  font-size: 14pt;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.bio {
  font-size: 12pt;
  color: #FFF;
  line-height: 1.5;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin-top: 3px;
    
}

.icono {
  text-decoration: none;
  color: white;
}

.contacto {
  color: #FFF;
  font-size: 11pt;
  line-height: 1.5;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.3pt;
}

}